<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Welcome</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Error 404</h1>
      
       
      <nav th:fragment="menu"><ul>
      
    <li><a title="Inicio" href="/index">Inicio</a></li>
    <li><a title="Ver Productos" href="/products">Ver Productos</a></li>
    <li><a title="Ver Comentarios" href="/comentarios">Ver Comentarios</a></li>
    <li><a title="Login" href="/login">Login</a></li>
    <li><a title="Registrarme" href="/registration">Registrarme</a></li>
    
</ul>
</nav>
       
   </body>
    
</html>