<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


    <div th:replace="fragmheader :: header" ></div>
   

<body>
<!--   <div class="container-fluid">  -->


 <div th:replace="fragmheader :: nav" ></div>
   
<div class="container-fluid">

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2>Los últimos comentarios</h2>
   <h6> <span th:if="${#httpServletRequest.remoteUser}"
		th:text="${#httpServletRequest.remoteUser}"></span></h6>


  </div>
</div>
 



		<div th:each="coments : ${coments}">
			<div class="card bg-light text-dark">
				<div class="card-body">
					<h4 class="card-title"
						th:utext="${coments.producto.nombreproducto}"></h4>

					<p class="card-text" th:utext="${coments.descripcion}"></p>
					<!--   <p class="card-text" th:text="#{valoracion}"  th:utext="${coments.raiting}"></p> -->

					<span class="time-right"
						th:utext="${#dates.format(coments.fecha,'dd-MMM-yyyy')}"></span>

					<div class="card-footer" th:text="#{valoracion}"
						th:utext="${coments.raiting}"></div>

				</div>
			</div>

		</div>




		<!--   <table class="table table-hover"> -->
			<!--     <thead> -->
			<!--       <tr> -->

			<!--          <th>Comentario</th> -->
			<!--          <th>Producto</th> -->
			<!--          <th>Valoración</th> -->
			<!--          <th>Fecha</th> -->

			<!--       </tr> -->
			<!--     </thead> -->
			<!--     <tbody> -->


			<!--       <tr th:each ="coments : ${coments}"> -->

			<!--                <td  th:utext="${coments.descripcion}">...</td>      -->
			<!--                <td th:utext="${coments.producto.nombreproducto}">...</td> -->
			<!--                <td th:utext="${coments.raiting}">...</td> -->
			<!--                 <td th:utext="${#dates.format(coments.fecha,'dd-MMM-yyyy')}"></td> -->



			<!--             </tr> -->


			<!--     </tbody> -->
			<!--   </table> -->


			<footer>

				<div th:replace="fragmfooter :: footer"></div>

			</footer>






		</div>
		</body>
</html>