<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Welcome</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Comentarios por producto</h1>
     
	<div th:replace="fragmheader :: header" >
    </div>
      <div>
         <table border="1">
            <tr>

               <th>Comentarios por producto</th>
            </tr>
            <tr th:each ="coments : ${coments}">
               <td th:utext="${coments.descripcion}">...</td>
                
            </tr>
         </table>
      </div>
       <footer>
        <div th:replace="fragmfooter :: footer" ></div> 
         
    </footer>   
   </body>
    
</html>