<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
<meta charset="UTF-8" />

<meta name="viewport" content="width=device-width, initial-scale=1"/>

<title>Comentarios</title>
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" /> -->
<!-- <link href="https://fonts.googleapis.com/css?family=Alex+Brush" -->
<!-- 	rel="stylesheet" /> -->


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</link>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 
     
     
     
     
   
   </head>
   <body>
<!--   <div class="container-fluid">  -->
<div class="container"> 
   
   <header>
    <div th:replace="fragmheader :: header" ></div>
   
   </header>
   
    

     
     <h2>Últimos comentarios</h2>
  <p>The .table-hover class enables a hover state (grey background on mouse over) on table rows:</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        
         <th>Comentario</th>
         <th>Producto</th>
         <th>Valoración</th>
         <th>Fecha</th>
        
      </tr>
    </thead>
    <tbody>

      
      <tr th:each ="coments : ${coments}">
              
               <td  th:utext="${coments.descripcion}">...</td>     
               <td th:utext="${coments.producto.nombreproducto}">...</td>
               <td th:utext="${coments.raiting}">...</td>
                <td th:utext="${#dates.format(coments.fecha,'dd-MMM-yyyy')}"></td>
            
          
                
            </tr>
      
      
    </tbody>
  </table>
   

    <footer>
    
    <div th:replace="fragmfooter :: footer" ></div>
    
    </footer> 
   
      
   
     
        
          
    </div>  
       
   </body>
</html>