<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <meta charset="UTF-8" />
   <body>
       
       <div th:fragment="naveg">   
      
      <ul>
      
           <a title="Inicio" href="/comentarios"><li class="botones">Inicio</li></a>
           <a title="Ver Productos" href="/products"> <li class="botones">Ver Productos</li></a>
           <a title="Más Comentados" href="/mascomentados"><li class="botones">Más Comentados</li></a>
           <a title="Mejor valorados" href="/masvalorado"> <li class="botones">Mejor valorados</li></a>
           <a title="Añadir producto" href="/product/new"><li class="botones">Añadir producto</li></a>
    
       </ul>

    </div>
   </body>
    
</html>