<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Lista de Productos</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
      <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet"/> 
   </head>
   <body>
   
   <!-- cabeza --> 
   
   <header>
    <div th:replace="fragmheader :: header" ></div>
   
   </header>
   
   
   
  <!-- Barra de navegacion -->
       
      <nav>
      
     
      
        <ul>
      
           <a title="Inicio" href="/comentarios"><li class="botones">Inicio</li></a>
           <a title="Ver Productos" href="/products"> <li class="botones">Ver Productos</li></a>
           <a title="Más Comentados" href="/mascomentados"><li class="botones">Más Comentados</li></a>
           <a title="Mejor valorados" href="/masvalorado"> <li class="botones">Mejor valorados</li></a>
           <a title="Añadir producto" href="/product/new"><li class="botones">Añadir producto</li></a>
    
       </ul>
     
       
      </nav>
      
      
      <!-- caja principal top -->
      
      <div id="top">
           <ul>
           
           <li>
           <h1></h1>
           <p></p>
           </li>
           
           <li> 
            <h1></h1>
           <p></p>
           </li>
           
           
           <li>
            <h1></h1>
           <p></p>
            </li>
      
            
           </ul>
            
      </div>
      
      
      <!-- seccion -->
      
     <section>
     
     <aside id="izq"></aside>
     
     <article>
     
     <div>  
  
	<form th:action="@{/products}" th:object ="${producto}" method="get">
			
	    <input type="text" name="searchprod" th:value="null" th:placeholder="nombre"/>
		<input type="text" name="searchmarca" th:value="${searchmarca}" th:placeholder="marca"/>
		<input type="text" name="searchcategoria" th:value="${searchcategoria}" th:placeholder="categoria"/>
		
		<input type="submit" value="Buscar"/>
	</form>
</div>



  <h1>Lista de productos</h1>
     
  
       
         <table class="tablaestilo">
            <tr>
               
               <th>Nombre del producto</th>
               <th>Marca</th>
               <th>Categoria</th>
               <th>......</th>
            </tr>
            <tr th:each ="products : ${products}">
              
               <td th:utext="${products.nombreproducto}">...</td>
               <td th:utext="${products.marca.nombremarca}">...</td>
               <td th:utext="${products.categoria.nombrecategoria}">...</td>
              <td> <a th:href="@{/products/{id}(id=${products.idproducto})}" >Comentar el producto..</a> </td>
           
            </tr>
         </table>
    
     
     
     </article>
     <aside id="der">
     
     
     </aside>
     
     
     </section> 
      
<!--     <footer> -->
    
<!--     <div th:replace="fragmfooter :: footer" ></div> -->
    
<!--     </footer>  -->
   
      
   
     
        
          
      
       
   </body>
</html>